# IMPORTING LIBRARIES

In [1]:
import pandas as pd
import numpy as np

# DECLARING NEEDED INFRASTRUCTURE FOR A VILLAGE TO BE DEVELOPED
1. Library
2. Primary_school
3. Secondary_school
4. College
5. ATM
6. Supermarket
7. Panchayat_office
8. Post_office
9. Hospital
10. Bus_stop
11. Common_service_center

# CREATING DATASET WITH THE NEEDED INFRASTRUCTURE

In [2]:
dataset= pd.DataFrame({
    'library': np.random.randint(0,2,20000),
    'primary_school':np.random.randint(0,2,20000),
    'secondary_school':np.random.randint(0,2,20000),
    'college':np.random.randint(0,2,20000),
    'atm':np.random.randint(0,2,20000),
    'supermarket':np.random.randint(0,2,20000),
    'panchayat_office':np.random.randint(0,2,20000),
    'post_office':np.random.randint(0,2,20000),
    'hospital':np.random.randint(0,2,20000),
    'bus_stop':np.random.randint(0,2,20000),
    'common_service_center':np.random.randint(0,2,20000),
})
print(dataset.shape)
dataset.head()

(20000, 11)

,library,primary_school,secondary_school,college,atm,supermarket,panchayat_office,post_office,hospital,bus_stop,common_service_center
0,0,0,1,0,0,0,0,1,0,1,0
1,0,0,0,0,0,0,0,1,0,0,0
2,0,1,1,1,0,0,0,0,0,0,1
3,0,1,0,1,1,0,0,1,0,1,0
4,0,0,1,0,1,0,0,1,0,0,0

# GETTING 30% OF SAMPLE DATA RANDOMLY

In [6]:
rows= dataset.sample(n=6000,random_state=42).index

In [7]:
dataset.loc[rows]= 1

In [8]:
mask= (dataset==1).all(axis=1)

In [9]:
allones= dataset[mask]
allones.shape

(6003, 11)

# ADDING TARGET VARIABLE COLUMN TO THE DATASET

In [10]:
dataset['developed']= (dataset==1).all(axis=1).astype(int)

In [11]:
dataset.head()

,library,primary_school,secondary_school,college,atm,supermarket,panchayat_office,post_office,hospital,bus_stop,common_service_center,developed
0,1,1,1,1,1,1,1,1,1,1,1,1
1,0,0,0,0,0,0,0,1,0,0,0,0
2,0,1,1,1,0,0,0,0,0,0,1,0
3,1,1,1,1,1,1,1,1,1,1,1,1
4,0,0,1,0,1,0,0,1,0,0,0,0

# SAVING DATASET AS CSV FILE

In [12]:
dataset.to_csv('Village_infras.csv',index= False)