# IMPORTING LIBRARIES

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, r2_score
import pickle

# GETTING DATA FROM DATASET

In [2]:
data = pd.read_csv("Village_infras.csv")
data.head()

,library,primary_school,secondary_school,college,atm,supermarket,panchayat_office,post_office,hospital,bus_stop,common_service_center,developed
0,1,1,1,1,1,1,1,1,1,1,1,1
1,0,0,0,0,0,0,0,1,0,0,0,0
2,0,1,1,1,0,0,0,0,0,0,1,0
3,1,1,1,1,1,1,1,1,1,1,1,1
4,0,0,1,0,1,0,0,1,0,0,0,0

# SELECTING TARGET VARIABLE

In [3]:
y = data.developed
X = data.drop(['developed'], axis= 1)

# SPLITTING TRAINING AND VALIDATION DATA

In [4]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size= 0.2, random_state= 0)

In [5]:
X_train.head()

,library,primary_school,secondary_school,college,atm,supermarket,panchayat_office,post_office,hospital,bus_stop,common_service_center
17815,1,1,1,1,1,1,1,1,1,1,1
18370,1,1,1,0,1,1,0,1,0,0,1
1379,0,0,1,1,0,0,1,0,1,0,1
14763,1,1,1,1,1,0,1,0,0,1,0
7346,1,1,1,1,1,1,1,1,1,1,1

In [6]:
X_valid.head()

,library,primary_school,secondary_school,college,atm,supermarket,panchayat_office,post_office,hospital,bus_stop,common_service_center
19134,1,1,1,1,1,1,1,1,1,1,1
4981,1,1,1,1,1,1,1,1,1,1,1
16643,1,0,0,0,0,1,1,0,0,0,0
19117,1,0,1,1,0,1,0,0,1,1,0
5306,1,1,1,1,1,1,1,1,1,1,1

# DEFINING, FITTING AND PREDICTING RANDOM FOREST MODEL

In [7]:
rfmodel= RandomForestRegressor(n_estimators= 100, random_state= 0)
rfmodel.fit(X_train, y_train)
rfpreds= rfmodel.predict(X_valid)
rfpreds

array([1., 1., 0., ..., 1., 1., 0.])

# CHECKING METRICS LIKE R2-SCORE AND MEAN ABSOLUTE ERROR

In [8]:
rfscore= mean_absolute_error(y_valid, rfpreds)
r2= r2_score(y_valid, rfpreds)
print('MAE:', rfscore)
print('R2_score:', r2)

MAE: 2.5e-06
R2_score: 0.9999998837376937

# SAVING THE TRAINED MODEL

In [9]:
with open('rftrained_model.pkl', 'wb') as f:
    pickle.dump(rfmodel, f)

print("Trained model saved to rftrained_model.pkl")

Trained model saved to rftrained_model.pkl